{% extends "boards/base.html" %}

{% block title %}Forum > Boards{% endblock %}

{% block content %}
    <h1>Boards</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last post</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
                <tr>
                    <td>
                        {{board.name}}
                        <p class="small">{{board.description}}</p>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        -
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}